body {
    background-color: #f5f5f5;
    text-align: center;
    font-family: "Poppins",sans-serif;
}

.heading {
    font-weight: 600;
    font-size: 10rem;
    margin-bottom: 4rem;
    color: #ceb0e9;
}

.completed {
    text-decoration: line-through;
}