body {
    background-color: #a164df;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 1.5rem 2rem;
    background-color: #663399;
    color: white;
    font-size: 1.2rem;
    border: none;
    outline: none;
    margin-right: 2rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}