body {
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    margin-top: 5rem;
}

.panel {
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3.5rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    flex: 0.5;
    margin: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    transition: all 700ms ease-in-out;
    padding-left: 2rem;
}

#panel-1 {
    background-image: url("https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

#panel-2 {
    background-image: url("https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

#panel-3 {
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
}

#panel-4 {
    background-image: url("https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
}

#panel-5 {
    background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.panel.active {
    flex: 5;
}

@media (max-width: 480px){
    #panel-4, #panel-5{
        display: none;
    }

    .container {
        width: 100vw;
    }
}
