body {
    background-color: #2c3347;
    color: white;
    text-align: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 200px;
    height: 200px;
    border-radius:50%;
    padding: 5rem;
    margin: 0 auto;

}

.time {
    font-size: 2.5rem;
}